.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pesquisar {
  background-color: aqua;
}

.lista-tarefas {
  background-color: blue;
}

.criar-tarefa {
  background-color: blanchedalmond;
}
